<!DOCTYPE html>
<html lang="en">
     <head>
        <title>CSS</title>
        <link rel="stylesheet"  type="text/css" 
        href="css/style.css">


<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Details</h1>
    <ul>
        <li>Name: {{.Name}}</li>
        <li>Surname: {{.Surname}}</li>
        <li>Age: {{.Age}}</li>
    </ul>
</body>
</html>

